/* Estilos generales de la tienda */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Grid para mostrar los productos en bloques más pequeños */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    /* Reducimos el tamaño mínimo de la columna */
    gap: 20px;
}

/* Estilos individuales para productos */
.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    /* El producto ocupa el 50% del espacio original */
    margin: 0 auto;
    /* Centrar los productos */
}

/* Imágenes dentro de los productos */
.product img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos del botón de compra */
.btn {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e5533b;
}




/* Responsive */
@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}