/* Estilos globales */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f0f9ff 0%, #cbebff 100%);
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    color: #000000;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 1.5rem 0;
}

/* Estilo para el enlace del título */
.titulo-enlace {
    text-decoration: none;
    /* Elimina el subrayado del enlace */
}

/* Estilo para el h2 que ahora es un botón */
.titulo-enlace h2 {
    position: relative;
    display: inline-block;
    /* Solo ajusta el fondo al tamaño del texto */
    padding: 10px 20px;
    /* Espacio alrededor del texto */
    background-color: #009614;
    /* Fondo verde */
    color: white;
    /* Color del texto */
    font-size: 2rem;
    margin-left: 20px;
    /* Espacio desde el borde izquierdo */
    border-radius: 5px;
    /* Opcional: bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra para darle profundidad */
    z-index: 1;
    /* Asegura que el título esté por encima del fondo */
    width: fit-content;
    cursor: pointer;
    /* Muestra el cursor de enlace */
    transition: background-color 0.3s ease;
    /* Añade una transición suave al color */
}

/* Estilo al hacer hover sobre el enlace */
.titulo-enlace h2:hover {
    background-color: #474b47;
    /* Cambia el color al pasar el mouse */
}

.grupo-animal {
    position: relative;
    margin-bottom: 20px;
}

/* Estilo para el título con la tira verde de fondo */
.grupo-animal h2 {
    position: relative;
    display: inline-block;
    /* Solo ajusta el fondo al tamaño del texto */
    padding: 10px 20px;
    /* Espacio alrededor del texto */
    background-color: white;
    ;
    /* Fondo verde */
    color: black;
    /* Color del texto */
    font-size: 2rem;
    margin-left: 200px;
    /* Espacio desde el borde izquierdo */
    border-radius: 5px;
    /* Opcional: bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra para darle profundidad */
    z-index: 1;
    /* Asegura que el título esté por encima del fondo */
    width: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grupo-animal h2:hover {
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.2);
}

.grupo-animal::before {
    content: "";
    position: absolute;
    top: 20px;
    /* Altura desde la parte superior para alinearse con el título */
    left: 0;
    width: 100%;
    height: 40px;
    /* Altura de la tira verde */
    background-color: #000000;
    /* Color del fondo verde */
    z-index: 0;
    /* Asegura que esté detrás del título */

}

.grupo-animal.mamiferos h2 {
    background-color: #ad7c14;
}

.grupo-animal.reptiles h2 {
    background-color: #ff5100;
}

.grupo-animal.anfibios h2 {
    background-color: #14ad7a;
}

.grupo-animal.peces h2 {
    background-color: #0077ff;
}

.grupo-animal.invertebrados h2 {
    background-color: #414b53;
}

.grupo-animal.aves h2 {
    background-color: #e6e947;
}

.grupo-animal.artropodos h2 {
    background-color: #770303;
}



/* 
.titulo-enlace.mamiferos h2:hover {
    background-color: #ad7c14;
}

.titulo-enlace.reptiles h2:hover {
    background-color: #ff5100;
}

.titulo-enlace.anfibios h2:hover {
    background-color: #14ad7a;
}

.titulo-enlace.peces h2:hover {
    background-color: #0077ff;
}

.titulo-enlace.invertebrados h2:hover {
    background-color: #414b53;
}

.titulo-enlace.aves h2:hover {
    background-color: #e6e947;
}

.titulo-enlace.artopodos h2:hover {
    background-color: #770303;
}
*/



/* Opcional: Añadir un color de barra tras el título para cada grupo */
.grupo-animal.mamiferos::before {
    background-color: #ad7c14;
}

.grupo-animal.reptiles::before {
    background-color: #ff5100;
}

.grupo-animal.anfibios::before {
    background-color: #14ad7a;
}

.grupo-animal.peces::before {
    background-color: #0077ff;
}

.grupo-animal.invertebrados::before {
    background-color: #414b53;
}

.grupo-animal.aves::before {
    background-color: #e6e947;
}

.grupo-animal.artropodos::before {
    background-color: #770303;
}

/* Estilo del contenedor del header */
.header {
    background-color: #009614;
    padding: 1rem;
    text-align: center;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Centrar el título */
.header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}


/* Contenedor de flechas y carrusel */
.carousel-container {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    padding: 20px;

}

/* Flechas estilizadas */
.carousel-btn {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.carousel-btn:hover {
    opacity: 0.8;
    transform: translateY(-50%) scale(1.1);
}

.left-btn {
    left: -50px;
    /* Ajusta la distancia según sea necesario */
    /* background-image: url('images/arrow-left.png'); */
    background-size: cover;
    background-position: center;
}

.right-btn {
    right: -50px;
    /* Ajusta la distancia según sea necesario */
    /* background-image: url('images/arrow-right.png'); */
    background-size: cover;
    background-position: center;
}

/* Envoltorio del carrusel */
.animal-grid-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin: 0 auto;
    max-width: 90%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.animal-grid {
    display: flex;
    gap: 20px;
    transition: transform 1s ease;
}

/* Animales */
.animal-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 250px;
    /* Mantener el tamaño de las tarjetas */
    flex-shrink: 0;
    margin-right: 20px;
    /* Añadir espacio entre tarjetas */
    position: relative;
    z-index: 2;


}

.animal-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.2);
}

.animal-card-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.animal-card-img.aves img {
    object-position: top;
}

.animal-card-body {
    padding: 1rem;
    text-align: center;
}

.animal-card-body h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

/* Modal de detalles */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.modal-content img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
}

/* Contenedor para alinear el buscador y el login/registro */
.search-container,
.auth-container {
    display: inline-block;
    /* Los mostramos en la misma línea */
    vertical-align: middle;
    /* Alinear verticalmente */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 50px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
    border-color: #009688;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el contenedor del botón de login y el mensaje */
.auth-container {
    display: flex;
    /* Flexbox para el botón y el mensaje */
    align-items: center;
    /* Alinear verticalmente al centro */
    justify-content: flex-end;
    margin-left: auto;
    /* Alinear el login y el mensaje a la derecha */
    margin-right: 20px;
    /* Separación a la derecha */
}

/* Estilo del enlace de Login/Registro */
.login-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #4CAF50;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    /* Separar el botón del mensaje */
}

.login-link:hover {
    background-color: #45a049;
}

/* Estilo del mensaje de bienvenida */
#welcome-message {
    font-size: 16px;
    color: white;
    margin: 0;
    /* Eliminar margen */
}